.animateDown
{
    -webkit-animation: animateDown 1.25s; /* Chrome, Safari, Opera */
    -webkit-animation-fill-mode: forwards;
    animation: animateDown 1.25s;
    animation-fill-mode: forwards;
}

@-webkit-keyframes animateDown
{
    0%  {top: 0px;}
    100%  {top: 100%; display: none;}
}

@keyframes animateDown
{
    0%  {top: 0px;}
    100%  {top: 100%; display: none;}
}

.animateUp
{
    -webkit-animation: animateUp 1.25s; /* Chrome, Safari, Opera */
    -webkit-animation-fill-mode: forwards;
    animation: animateUp 1.25s;
    animation-fill-mode: forwards;
}

@-webkit-keyframes animateUp
{
    0%  {top: 100%;}
    100%  {top: 0px;}
}

@keyframes animateUp
{
    0%  {top: 100%;}
    100%  {top: 0px;}
}

.animateLeft
{
    -webkit-animation: animateLeft 1.25s;
    -webkit-animation-fill-mode: forwards;
    animation: animateLeft 1.25s;
    animation-fill-mode: forwards;
}

@-webkit-keyframes animateLeft
{
    0% {left: 100%;}
    100% {left: 0px;}
}

@keyframes animateLeft
{
    0% {left: 100%;}
    100% {left: 0px}
}

.animateRight
{
    -webkit-animation: animateRight 1.25s;
    -webkit-animation-fill-mode: forwards;
    animation: animateRight 1.25s;
    animation-fill-mode: forwards;
}

@-webkit-keyframes animateRight
{
    0% {left: 0px;}
    100% {left: 100%; display: none;}
}

@keyframes animateRight
{
    0% {left: 0px;}
    100% {left: 100%; display: none;}
}

.animateFadeIn
{
    -webkit-animation: animateFadeIn 1s;
    -webkit-animation-fill-mode: forwards;
    animation: animateFadeIn 1s;
    animation-fill-mode: forwards;
}

@-webkit-keyframes animateFadeIn
{
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes animateFadeIn
{
    0% {opacity: 0;}
    100% {opacity: 1}
}

.animateFadeOut
{
    -webkit-animation: animateFadeOut 1s;
    -webkit-animation-fill-mode: forwards;
    animation: animateFadeOut 1s;
    animation-fill-mode: forwards;
}

@-webkit-keyframes animateFadeOut
{
    0% {opacity: 1;}
    100% {opacity: 0;}
}

@keyframes animateFadeOut
{
    0% {opacity: 1;}
    100% {opacity: 0}
}

.animateLighten
{
    -webkit-animation: animateLighten 1s;
    -webkit-animation-fill-mode: forwards;
    animation: animateLighten 1s;
    animation-fill-mode: forwards;
}

@-webkit-keyframes animateLighten
{
    0% {opacity: 1;}
    100% {opacity: 0.4;}
}

@keyframes animateLighten
{
    0% {opacity: 1;}
    100% {opacity: 0.4}
}

.animateDarken
{
    -webkit-animation: animateDarken 1s;
    -webkit-animation-fill-mode: forwards;
    animation: animateDarken 1s;
    animation-fill-mode: forwards;
}

@-webkit-keyframes animateDarken
{
    0% {opacity: 0.4;}
    100% {opacity: 1;}
}

@keyframes animateDarken
{
    0% {opacity: 0.4;}
    100% {opacity: 1;}
}