#hud
{
    z-index: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 25px;
    width: 100%;
    background-color: black;
}

#lives
{
    position: absolute;
    top: 2px;
    left: 20px;
}

#bonusBox
{
    position: absolute;
    top: 2px;
    left: 100px;
}

.bonusItem
{
    top: 0px;
    float: left;
    margin: 0px 0px 0px 20px;
}

#creativeOptions
{
    display: none;
}

.brickModeItem
{
    top: 0px;
    margin: 0px 0px 0px 25px;
    float: left;
}

#brickModeBox
{
    position: absolute;
    top: 2px;
    left: 20px;
}

#brickMode
{
    top: 0px;
    left: 0px;
    float: left;
}

select, option
{
    color: black;
}

.brickDropDown
{
    top: 0px;
    margin: 0px 0px 0px 25px;
    float: left;
}

#brickLifeBox
{
    position: absolute;
    top: 2px;
    right: 95px;
}

#brickLife
{
    top: 0px;
    left: 0px;
    float: left;
}