.animateDown
{
    -webkit-animation: animateDown 3s; /* Chrome, Safari, Opera */
    -webkit-animation-fill-mode: forwards;
    animation: animateDown 3s;
    animation-fill-mode: forwards;
}

@-webkit-keyframes animateDown
{
    0%  {top: 0px;}
    100%  {top: 1000px;}
}

@keyframes animateDown
{
    0%  {top: 0px;}
    100%  {top: 1000px;}
}

.animateUp
{
    -webkit-animation: animateUp 3s; /* Chrome, Safari, Opera */
    -webkit-animation-fill-mode: forwards;
    animation: animateUp 3s;
    animation-fill-mode: forwards;
}

@-webkit-keyframes animateUp
{
    0%  {top: 1000px;}
    100%  {top: 0px;}
}

@keyframes animateUp
{
    0%  {top: 1000px;}
    100%  {top: 0px;}
}

.animateLeft
{
    -webkit-animation: animateLeft 3s;
    -webkit-animation-fill-mode: forwards;
    animation: animateLeft 3s;
    animation-fill-mode: forwards;
}

@-webkit-keyframes animateLeft
{
    0% {left: 2000px;}
    100% {left: 0px;}
}

@keyframes animateLeft
{
    0% {left: 2000px;}
    100% {left: 0px}
}

.animateRight
{
    -webkit-animation: animateRight 3s;
    -webkit-animation-fill-mode: forwards;
    animation: animateRight 3s;
    animation-fill-mode: forwards;
}

@-webkit-keyframes animateRight
{
    0% {left: 0px;}
    100% {left: 2000px;}
}

@keyframes animateRight
{
    0% {left: 0px;}
    100% {left: 2000px}
}