@font-face
{
    font-family: openSansLight;
    src: url("../fonts/open-sans.light.ttf");
}

*
{
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    color: white;
    cursor: default;
    margin: 0px;
    padding: 0px;
}

#myCanvas 
{
    z-index: 1; 
    position: absolute;
    top: 25px;
    left: 0px;
}

#paused
{
    display: none;
    z-index: 2; 
    position: absolute;
    top: 40%;
    left: 37%;
    width: 26%;
    height: 13%;
}

#startMenu
{
    z-index: 2; 
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(22, 22, 22, 0.7);
}

#pressEnter
{
    position: absolute;
    top: 33%;
    left: 10%;
    width: 80%;
    height: 20%;
}

#pressEsc
{
    position: absolute;
    top: 27px;
    left: 20px;
    width: 13%;
    height: 3%;
}

#instructions
{
    position: absolute;
    bottom: 20px;
    left: 20px;
    width: 20%;
    height: 5%;
}

#creativeMode
{
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 20%;
    height: 5%;
}