canvas 
{
    z-index: 1; 
    position: absolute;
    border: 5px solid gray;
    top: 0px;
    left: 0px;
}

#pause 
{
    z-index:-1; 
    height: 60%; 
    width: 60%; 
    position:absolute; 
    top: 20%; 
    left:20%;
}

#soundOn 
{
    z-index: -1; 
    height: 2.5%; 
    width: 2.75%;
    position:absolute; 
    top: 1.75%; 
    left:93%;
}

#soundOff 
{
    z-index: -1; 
    height: 2.5%; 
    width: 2.75%;
    position:absolute; 
    top: 1.75%; 
    left:93%;
}

#startMenu 
{
    z-index: -1;
    height: 100%; 
    width: 100%;
    position: absolute; 
    top: 0%; 
    left: 0%;
}

#title
{
    height: 40%; 
    width: 20%;
    position: absolute; 
    top: 0%; 
    left: 0%;
}

#singlePlayer 
{
    height: 35%; 
    width: 20%;
    position: absolute; 
    top: 65%; 
    left: 40%;
}

#won
{
    z-index: -1;
    height: 75%; 
    width: 75%;
    position: absolute; 
    top: 10%; 
    left: 10%;
}

#lost
{
    z-index: -1;
    height: 75%; 
    width: 75%;
    position: absolute; 
    top: 10%; 
    left: 10%;
}